air-quality-service/src/main/resources/airquality.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://smartcity.com/airquality"
            xmlns:tns="http://smartcity.com/airquality"
            elementFormDefault="qualified">
    
    <!-- Requête pour obtenir la qualité de l'air par zone -->
    <xsd:element name="GetAirQualityRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="zoneName" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <!-- Réponse pour la qualité de l'air -->
    <xsd:element name="GetAirQualityResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="airQualityData" type="tns:AirQualityData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <!-- Requête pour obtenir toutes les zones -->
    <xsd:element name="GetAllZonesRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    
    <!-- Réponse avec toutes les zones -->
    <xsd:element name="GetAllZonesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="airQualityData" type="tns:AirQualityData" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <!-- Requête pour comparer deux zones -->
    <xsd:element name="CompareZonesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="zone1" type="xsd:string"/>
                <xsd:element name="zone2" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <!-- Réponse de comparaison -->
    <xsd:element name="CompareZonesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="comparisonResult" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <!-- Type de données pour la qualité de l'air -->
    <xsd:complexType name="AirQualityData">
        <xsd:sequence>
            <xsd:element name="zoneName" type="xsd:string"/>
            <xsd:element name="aqiValue" type="xsd:double"/>
            <xsd:element name="aqiCategory" type="xsd:string"/>
            <xsd:element name="pm25" type="xsd:double" minOccurs="0"/>
            <xsd:element name="pm10" type="xsd:double" minOccurs="0"/>
            <xsd:element name="no2" type="xsd:double" minOccurs="0"/>
            <xsd:element name="o3" type="xsd:double" minOccurs="0"/>
            <xsd:element name="co" type="xsd:double" minOccurs="0"/>
            <xsd:element name="so2" type="xsd:double" minOccurs="0"/>
            <xsd:element name="measurementDate" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>
    
</xsd:schema>